.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nearby-pets {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

/* NearbyPetCard.css */
.pet-card {
  /* ... (other styles) */
  margin: 0 10px; /* Add some spacing between cards */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../public/landing1.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 1; /* No overlay */
  z-index: -1;
}

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Set the container height to cover the viewport */
  z-index: 1; /* Place above the background image */
}
