.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nearby-pets {
  background-color: black;
}

.nearby-pet-cards {
  display: flex;
  align-items: center; /* Center vertically */
  height: 40vh;
  padding: 0 3%;
  width: 90vw;
}

.nearby-pets h3{
  font-size: 34px; /* Increase the font size for the title */
  padding: 2% 0% ; /* Add space below the title */
  color: white;
}

.section-links-inner-div {
  display: flex;
  align-items: center; /* Center vertically */
  height: 40vh;
  padding: 0 3%;
  width: 90vw;
}
.section-links-div h3{
  font-size: 34px; /* Increase the font size for the title */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url('../images/catanddog3.jpg');  */
  background-size: cover;
  background-position: center;
  opacity: 1; /* No overlay */
  z-index: -1;
}

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set the container height to cover the viewport */
  z-index: 1; /* Place above the background image */
}


.form-and-search-container {
  display: flex;
  gap: 20px; /* Adjust the gap between the form and search bar */
  flex-grow: 1; /* Allow the container to grow and take available space */
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between columns */
}

.left-column,
.right-column {
  flex-grow: 1; /* Allow columns to take available space */
}

.left-column {
  flex-basis: calc(50% - 10px); /* Adjust the width of the left column */
}

.right-column {
  flex-basis: calc(50% - 10px); /* Adjust the width of the right column */
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between columns and divider */
}
.form-and-search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between columns and divider */
}

.left-column,
.right-column {
  flex: 1; /* Allow columns to take available space */
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0 10px; /* Adjust the margin as needed */
  padding: 50% 0;
}




