/* Footer.css */
.footer {
  background-color: #000000;
  padding: 1% 1.5%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  max-width: 300px;
  margin: 0; /* Remove margin */
  padding: 20px; /* Add padding for spacing */
  text-align: center; /* Center the content */
}

.footer-section h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* Remove margin */
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.sign-up-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0800;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.sign-up-link:hover{
  background-color: #ff3d3d;
}
