/* Header.css */
.header {
  background-color: #0000007c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(255, 161, 21, 0.353); /* Add a subtle shadow */
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Vertically align navigation items */
}

.main-navigation li {
  margin-right: 30px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px; /* Slightly larger font size */
  transition: color 0.2s;
}

.main-navigation a:hover {
  color: #ff6000;
}

.user-profile {
  margin-right: 20px;
}

.user-profile span {
  font-size: 16px; /* Slightly larger font size */
}

/* Additional styling for responsiveness */
@media screen and (max-width: 768px) {
  .main-navigation ul {
    flex-direction: column;
  }

  .main-navigation li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.logo {
  margin-left: 1%;
  margin-right: 2%; /* Add margin to the right side */
  display: flex;
  align-items: center; /* Vertically center the image */
}

.logo img {
  width: 35%;
  height: auto;
}