.Home {
  text-align: center;
  box-sizing: border-box;
}
.section-links-div h3,
.resources-div h3,
.nearby-pets h3 {
  text-align: center;
}
/* pet links section */
.section-links-div {
  width: 100vw;
  height: 50vh;
  background-color: rgb(0, 0, 0);
}
.section-links-div > h3 {
  font-size: 34px;
  color: rgb(255, 255, 255);
}

/* nearby pets section */
.nearby-pets {
  width: 100vw;
  height: 85vh;
  background-color: rgba(200, 82, 36, 0.309);
  font-size: 30px; 
  color: rgb(0, 0, 0);
}
.nearby-pets > h3 {
  color: rgb(0, 0, 0);
}

/* resources section */
.resources-div {
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
.resources-div h3 {
  font-size: 34px;
}

/* inner divs */
/*  */
.nearby-pet-cards, .section-links-inner-div{
  display: flex;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 1; /* No overlay */
  z-index: -1;
}

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set the container height to cover the viewport */
  z-index: 1; /* Place above the background image */
}

.form-and-search-container {
  display: flex;
  gap: 10px; /* Adjust the gap between the form and search bar */
  flex-grow: 1; /* Allow the container to grow and take available space */
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

.left-column,
.right-column {
  flex-grow: 1; /* Allow columns to take available space */
}

.left-column {
  flex-basis: calc(50% - 10px); /* Adjust the width of the left column */
}

.right-column {
  flex-basis: calc(50% - 10px); /* Adjust the width of the right column */
}


.form-and-search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between columns and divider */
  padding: 2%;
}

.left-column,
.right-column {
  flex: 1; /* Allow columns to take available space */
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.divider {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0 10px; /* Adjust the margin as needed */
  padding: 50% 0;
}

.greater-need-cards {
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.14s, box-shadow 0.2s;
  cursor: pointer;
  width: 60px;
  height: 200px;
  margin-top: 10vh;
}

.greater-need-cards:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.greater-need-cards p {
  margin-top: 5px;
  font-size: 14px;
  color: #ff0000;
}
.greater-need-cards img {
  max-width: 100%;
  border-radius: 5px;
}
.shelters-cards{
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.14s, box-shadow 0.2s;
  cursor: pointer;
  width: 100px;
}