/* * outside divs */ */

.Home {
text-align: center;
}

.section-links-div h3,
.adoption-div h3,
.nearby-pets h3 {
  text-align: center;
}

.section-links-div {
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.nearby-pets {
  width: 100vw;
  height: 85vh;
  background-color: rgb(0, 0, 0);
}

.nearby-pets > h3 {
  color: white;
}
.adoption-div {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.113);
}

/* inner divs */
.nearby-pet-cards, .section-links-inner-div {
  display: flex;
  align-items: center; /* Center vertically */
  height: 55vh;
  padding: 2% 3%;
  width: 90vw;
  margin: 2%;
  gap: 1%;
}


.nearby-pets, .section-links-div h3{
  font-size: 34px; 
  color: rgb(0, 0, 0);
}

.adoption-div h3 {
  font-size:  34px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 1; /* No overlay */
  z-index: -1;
}

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set the container height to cover the viewport */
  z-index: 1; /* Place above the background image */
}


.form-and-search-container {
  display: flex;
  gap: 10px; /* Adjust the gap between the form and search bar */
  flex-grow: 1; /* Allow the container to grow and take available space */
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px; /* Adjust the gap between columns */
}

.left-column,
.right-column {
  flex-grow: 1; /* Allow columns to take available space */
}

.left-column {
  flex-basis: calc(50% - 10px); /* Adjust the width of the left column */
}

.right-column {
  flex-basis: calc(50% - 10px); /* Adjust the width of the right column */
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between columns and divider */
}
.form-and-search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between columns and divider */
  padding: 2%;
}

.left-column,
.right-column {
  flex: 1; /* Allow columns to take available space */
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.divider {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0 10px; /* Adjust the margin as needed */
  padding: 50% 0;
}




