/* PetAdoption.css */

.pet-adoption {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
  }
  
  .pet-adoption >p {
    text-align: center;
  }

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
  }
  
  .adopt-list {
    list-style: decimal; /* Keep the list numbers */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .adopt-list > li {
    width: 50%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .adopt-list > li:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.02);
  }
  