/* SearchFilters.css */
.search-filters {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f292;
  border-radius: 15px;
}

.search-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.search-section-wide {
  flex: 3; /* Increase the flex value to make this section wider */
  display: flex;
  align-items: center;
}

.search-section select,
.search-section-wide input[type="text"] { /* Apply the same styles for the select and input in the wider section */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #ff6000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #028d48;
}
