.signin-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-button {
    background-color: #ff1616;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-prompt {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
  
  .signup-prompt a {
    color: #ff1616;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-prompt a:hover {
    text-decoration: underline;
  }
  