.adopted-animals-container {
  /* border: red solid 5px; */
  margin: 4% auto;
  height: auto;
  justify-content: center;
  font-size: 17px;
}

h2 {
  font-size: 30px;
  padding: 4%;
}
.adopted-animals {
  position: relative;
  overflow: hidden;
}

.adopted-animal-card {
  flex: 0 0 auto;
  margin-right: 16px;
  width: 300px;
}
.adopted-animal-card > p {
  font-weight: bold;
}

.image-container > img {
  height: 350px;
  width: 90%; 
  object-fit: cover; 
  border-radius: 15px;
}

.adopted-animal-card > p {
  font-weight: bold;
}

.red-text {
  color:#ea1328;
}


.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.slick-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.slick-dot.slick-active {
  background-color: #333;
}

.adopted-animal-card {
  margin-right: 16px; 
}

.adopted-animals-container {
  max-width: 1000px;
  margin: 0 auto;
}

.adopted-animal-card {
  position: relative;
}

.adopted-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #d90c206e; 
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff; 
}

/* Responsive styles for smaller screens (e.g., phones) */
@media (max-width: 600px) {
  .adopted-animals-container {
    padding: 1%;
    margin: 0 4%;
  }

  h2 {
    font-size: 20px;
  }

  .adopted-animal-card {
    margin-right: 0;
    margin-bottom: 16px; /* Add margin at the bottom for better spacing */
  }
  .adopted-label{
    font-size: 60%;
    top: 3px;
    left: 25px;
  }

  .slick-dots {
    bottom: -10px;
  }
  .text-container {
    font-size: 80%;
  }
  .image-container {
    /* border: red solid 4px; */
  }

  .image-container > img {
    padding-top: 15%;
    height: 350px;
    width: 90%; 
    object-fit: scale-down;
    border-radius: 50%;
    /* border: red solid 4px; */
    height: auto;
  }

}