/* Default styles */
.all-pets-page {
  padding: 20px;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the cards horizontally */
  border: purple solid 4px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3%;
}

.pagination-button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button.active {
  background-color: var(--vibrant-red);
  color: #fff;
}

