/* Default styles */
.all-pets-page {
  padding: 20px;
  min-height: 65vh;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the cards horizontally */
  /* border: purple solid 4px; */
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3%;
}

.pagination-button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button.active {
  background-color: var(--vibrant-red);
  color: #fff;
}



/* Responsive styles for smaller screens (e.g., phones) */
@media (max-width: 600px) {
  .pet-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the cards horizontally */
    /* border: purple solid 4px; */
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
 
}

/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  
}
