:root {
  --primary-blue: #6495ED;
  --greyish-hue: #f0f0f0;
  --vibrant-red: #ea1328;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff; /* Main background color */
}

.content {
  flex: 1;
}

.footer {
  padding: 10px;
  text-align: center;
  margin-top: auto;
  background-color: #0db9ad; /* Footer background color */
}

.auth-container {
  display: flex;
  padding: 5% 0;
  flex-direction: column;
  min-height: 60vh;
  margin: 0 auto;
  background-color: var(--greyish-hue); /* Auth container background color */
}

/* button style */
button {
  background-color: var(--vibrant-red); /* Button color */
  color: #ffffff; /* Button text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #fb061e; /* Button color on hover */
}

.main-navigation a,
.forum-heading {
  text-decoration: none;
}
