:root {
  --primary-blue: #6495ED;
  --greyish-hue: #f0f0f0;
  --vibrant-red: #ea1328;
}

/* Reset default margin and padding for body */
html, body {
  height: 100%;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes up at least the full viewport height */
  background-color: #ffffff; /* Main background color */
}

/* Define content flexbox container */
.content {
  flex: 1; /* Allow content to grow and take up remaining space */
}

/* Footer styles */
.footer {
  padding: 10px;
  text-align: center;
  background-color: var(--primary-blue);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
  min-height:20vh;
}

.auth-container {
  display: flex;
  padding: 5% 0;
  flex-direction: column;
  min-height: 60vh;
  margin: 0 auto;
  background-color: var(--greyish-hue); /* Auth container background color */
}

/* button style */
button {
  background-color: var(--vibrant-red); /* Button color */
  color: #ffffff; /* Button text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  animation: none;
}

button:hover {
  background-color: #fb061e; /* Button color on hover */
  text-decoration:  none;
  animation: none;
}

.main-navigation a {
  text-decoration: none;
}
.button:hover::after {
  width: 0; /* Set width to 0 to remove the underline effect on hover */
  opacity: 0; /* Set opacity to 0 on hover to hide the underline */
}


