.pet-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items vertically in the center */
  align-items: center; /* Align items horizontally in the center */
  flex-wrap: wrap;
  height: 100%; 
  width: 100%;
  min-height:65vh;
  padding-bottom: 2%;
  /* border: red solid 4px; */
}

.title-container {
  margin-bottom: 20px;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 60vh; /* Limit the maximum height */
  box-shadow: 0px 2px 5px rgb(105, 105, 105);
  border-radius: 5%;
  /* border: red solid 5px; */
  margin: 2%;
  overflow: hidden; /* Ensure that the image doesn't overflow the container */
}

.sad-lab-image {
  max-width: 50%; /* Set the maximum width of the image */
  max-height: 100%; /* Allow the image to take up 100% of the available height */
  height: auto;
  border-radius: 5%;
}

.message {
  padding: 3%;
}

.pet-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .pet-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
  }
}
