
.filters {
    margin: 0 7%;
    border-radius: 8px;
    margin-bottom: 20px;
    /* border: yellow solid 4px; */
  }
  
  .filter-group {
    margin-bottom: 15px;
    width: 90%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  select {
    min-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
  }
  