.main-page {
  display: flex;
}

.sidebar {
  flex: 0.3;
  margin: 0 3%;
  border-right: double var(--vibrant-red) 5px;
}

.content {
  flex: 0.5;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height:65vh;
}
 
.pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3%;
}

.pagination-horizontal button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-horizontal button.active {
  background-color: var(--vibrant-red);
  color: #fff;
}


/* Responsive styles for smaller screens (e.g., phones) */
@media (max-width: 600px) {
  .main-page {
    display: block; 
  }

  .sidebar {
    flex: 1; 
    margin: 0;
    border-right: none; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pagination-horizontal {
    display: flex;
    width: 90%;
    margin: 2% auto; 
    overflow: hidden; 
    justify-content: space-between; 
  }
  
  .pagination-button {
    flex: 1; 
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination-button.active {
    background-color: var(--vibrant-red);
    color: #fff;
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .main-page {
    display: flex; 
  }

  .sidebar {
    flex: 0.3; /* Reset flex value for medium screens */
    margin: 0 1%;
    border-right: double var(--vibrant-red) 5px;
  }

  .content {
    flex: 0.9; 
    margin: 2% auto;
    justify-content: center;
  }

  .pagination-horizontal {
    margin-top: 3%;
    align-items: flex-end;
  }
}

/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  .main-page {
    display: flex; /* Reset to flex for larger screens */
  }

  .sidebar {
    flex: 0.3;
    margin: 0 auto;
    padding: 0 2px;
    border-right: double var(--vibrant-red) 5px;
  }

  .content {
    flex: 3; 
    padding: 20px; 
  }

  .pet-card-list {
    flex: 0.5;
    gap: 20px;
  }

  .pagination-horizontal {
    margin-top: 3%;
  }
}
