/* Footer.css */
.footer {
  background-color: #000000;
  padding: 1% 1.5%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  max-width: 300px;
  margin: 0; /* Remove margin */
  padding: 20px; /* Add padding for spacing */
  text-align: center; /* Center the content */
}

.footer-section h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* Remove margin */
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}


button:hover{
  background-color: #ff0019;;
}
