.forum-container{
  min-height: auto;
}

.welcome-div {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  min-height:65vh;
}
.welcome-div h1{
  margin-top: 5%;
}

.centered-image {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
}
.forum-container {  
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* TOPICS */
.topics-list {
  position: relative;
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: double var(--vibrant-red);
}

.scrollable-list {
  max-height: 700px;
  overflow-y: auto;
}

.topics-list h2 {
  margin-bottom: 5px;
}

.topics-list div {
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.indiv-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px; 
}

.indiv-topic:hover {
  background-color: #ddd;
}

.new-topic-icon {
  color: #3f7ecc;
  transition: width 0.3s ease; /* smooth transition effect */
}

.new-topic-icon:hover, .new-post-btn:hover {
  transform: scale(1.5); 
}
.new-topic-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4%;
}

.indiv-topic:nth-child(odd) {
  background-color: #ff898923;
}

.post-count {
  margin-left: auto; 
  font-size: 14px; 
  color: #888; 
}

.messages-icon {
  margin-left: 5px; 
  color: #3f7ecc;
}

/* TOPICS'S POSTS SCREEN */
.topic-posts-container {
  min-width: 70%;
  max-width: 100%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.topic-posts-container h3 {
  padding-left: 3%;
  width: calc(100% - 40px); 
  margin-top: 5px;
  display: inline-block; 
}

.new-post-btn {
  position: absolute; 
  top: 0;
  right: 0;
  margin: 10px;
  color: red;
  font-size: 25px;
  transition: width 0.3s ease;
}

.new-post-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.post-input{
  max-width: 40%;
  margin: 2%;
  border: 10px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.post-textarea {
  height: 70%;
  margin: 1% 2%;
  max-width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-bottom-container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: end;
  float: right;
  margin-right: 2.5%;
}
.post-bottom-container p {
  margin-right: 5%;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/*  modal content */
.post-input {
  min-width: 90%;
  margin-bottom: 10px;
  border: red solid 1px;
}

.post-thread-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

/*  no posts yet */
.no-posts-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  text-align: center;
  padding: 20px;
  background-color: #f0efef;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-posts-text {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 600px) {
  .forum-container {
    display: flex;
    flex-direction: column;
  }

  .welcome-div {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  .welcome-div h1 {
    margin-top: 5%;
    font-size: 80%;
  }

  .centered-image {
    max-width: 50vw;
    max-height: 50vh;
    width: auto;
    height: auto;
  }

  /* TOPICS */

  .scrollable-list {
    max-height: 300px;
    overflow-y: auto;
  }

  .topics-list {
    position: relative;
    width: 100%;
    background-color: #faf0f0;
    border: none;
  }
}

/* Medium screens */
@media (min-width: 601px) and (max-width: 1023px) {
  .topics-list {
    position: relative;
    min-width: 25%;
    background-color: #faf0f0;
  }
  .topic-posts-container {
    width: 50%;
  }
  .new-post-btn {
   margin-left: -35px;
  }
}

/* Medium screens */
@media (min-width: 1023px) {
  .topics-list {
    position: relative;
    min-width: 22%;
    background-color: #faf0f0;
  }
  .topic-posts-container {
    margin: 1% 0%;
  }
}
