
/* Forum.css */
.centered-image {
  display: block;
  margin: 10% auto;
  width: 40vw;
  height: 40vh;
}

.forum-container {
  display: flex;
  width: 100%;
}

.topics-list {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
}

.scrollable-list {
  max-height: 700px;
  overflow-y: auto;
}

.topics-list h2 {
  margin-bottom: 10px;
}

.topics-list div {
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.indiv-topic:hover {
  background-color: #ddd;
}

.write-post-div {
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  border: rgb(235, 235, 235) solid 2px;
  border-radius: 8px;
  background-color: #ddd;
}

.post-input{
  max-width: 40%;
  margin: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.post-textarea {
  height: 70%;
  margin: 1% 2%;
  max-width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.thread-container {
  flex: 2;
  overflow-y: auto;
  padding: 2%;
}
.thread-container h4, text{
  color: #fb061e;
}

.post-container {
  display: flex;
}
.previous-posts-container {
  height: 50vh;
  margin-top: 2%;
  overflow-y: auto;
}
.post {
  margin: 10px;
  border-radius: 8px; 
  padding: 1% 3%;
  width: 90%;
  height: 90%;
}

.left-image {
  width: 200px;
  height: 10vh;
  margin: 2% 1%;
  
}
.right-image {
  width: 200px;
  height: 10vh;
  margin: 2% 1%;
}

.even {
  background-color: #0dbeb230;
  margin-left: 2%; /* padding to the left for even-indexed posts */
}

.odd {
  background-color: #ea13283a;
  margin-right: 2%; /*padding to the right for odd-indexed posts */
}
.read-more {
  color: #fb061e;
  font-weight: bold;
}

.write-post-div {
  margin-top: 20px;
}

/* textarea {
  width: calc(100% - 16px); 
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
} */

.post-bottom-container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: end;
  /* border: rgb(3, 162, 3) solid 2px;  */
  float: right;
  margin-right: 2.5%;
}
.post-bottom-container p {
  margin-right: 5%;
}