.previous-posts-container {
  max-width: 100vw;
  max-height: 95%;
  margin-top: 1%;
  overflow-y: auto;
  padding-left: 2%;
  /* border: red solid 5px; */
}
.previous-posts-container h3{
  margin-top: 0;
}

.new-topic-icon {
  color: #3f7ecc;
  transition: width 0.3s ease; /* smooth transition effect */
}

.new-topic-icon:hover {
  transform: scale(1.5); 
}


/* INSIDE POST  */

.post-container {
  display: flex;
  min-width: 75vw;
  /* border: 4px solid #f14110; */
  overflow: hidden;
}

.post {
  margin: 10px;
  border-radius: 8px;
  width: 95%;
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: center;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Add transition for smooth height animation */
}

.post-content {
  flex: 1;
  width: 95%;
  position: relative;
  /* border: 4px rgb(238, 0, 255) solid; */
  height:10px;
  transition: 200px 0.3s ease; /* Add transition for smooth height animation */
}

.post-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-text.expanded {
  white-space: normal;
  /* border: 4px rgb(0, 255, 157) solid; */
  max-height: 60%;
  width: 95%;
  overflow-y: auto;
}


.post-content p {
  margin-bottom: 10px; /* Adjust spacing between paragraphs */
}

.read-more {
  color: red;
  cursor: pointer;
  /* border: 4px rgb(238, 0, 255) solid; */
  margin-left: 3%;
}

.post-content h4 {
  padding-left: 3%;
}
.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Align items vertically in the center */
  width: 65%;
  /* border: 4px rgb(238, 0, 255) solid; */
}
.post-details-icon-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
  width: 15%;
  text-decoration: none;
  color: #000000;
}

.reply-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.like-heart-unfavorited {
  color: #827575; 
}

.like-heart-favorited {
  color: #ea1328; 
}

.link-without-underline {
  text-decoration: none;
  color: inherit; /* Ensures that the link color remains the same as its parent color */
}

.link-without-underline:hover {
  text-decoration: none;
}
.reply-count-icon {
  color: #0953ad;
}
 /* IMAGES IN POSTS */
.left-image {
  width: 150px;
  height: 100%;
  margin: 2% 1%;
  border-radius: 50%;
  
}
.left-image, .right-image {
  width: 200px;
  height: 200px;
  margin: 2% 1%;
  border-radius: 50%;
}


.post-button.disabled {
  /* Style for the disabled state */
  background-color: #ccc;
  cursor: not-allowed;
}

.even {
  background-color: #0dbeb230;
  margin-left: 2%; /* padding to the left for even-indexed posts */
}

.odd {
  background-color: #ea13283a;
  margin-right: 2%; /*padding to the right for odd-indexed posts */
}

.new-post-arrow {
  /* Add your styling here, e.g., position, color, etc. */
  /* Example styles: */
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 64px;
  color: #007bff; /* Change the color as needed */
  cursor: pointer;
}