.container {
  text-align: center;
  min-height:65vh;
}

.title {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: space-around;
  min-height:65vh;
}

.card {
  width: 310px;
  min-width: 250px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.card li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
}

.red-text {
  color: red;
  font-weight: bold;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 3%  1%;
}

.pagination-button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button.active {
  background-color: var(--vibrant-red);
  color: #fff;
}

/* Responsive styles for smaller screens (e.g., phones) */
@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
 
}

/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  
}
