/* Default styles */
.pet-adoption {
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--greyish-hue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height:65vh;
}

.pet-adoption > p {
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.adopt-list {
  list-style: decimal;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adopt-list > li {
  flex-basis: calc(50% - 20px);
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.adopt-list > li:hover {
  background-color: var(--vibrant-red);
  color: #fff;
  transform: scale(1.02);
}

/* Responsive styles for small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .pet-adoption {
    margin: 8%;
    padding: 8%;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .adopt-list > li {
    flex-basis: calc(100% - 20px);
  }
}
