/* Container styling */
.pet-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  position: relative; 
}

/* Name and ID container */
.name-id-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.pet-name {
  margin: 0;
}

/* Pet information section */
.pet-info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
}

.pet-info-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 0 10px 10px 0; /* Added margin to separate sections */
}

.pet-info-section p {
  margin: 5px 0;
  font-size: 16px;
}

/* Contact information section */
.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  font-size: 20px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  margin: 5px 0;
}

/* Photos section */
.photos {
  margin-top: 20px;
}

.photos h3 {
  font-size: 20px;
  color: #333;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.pet-photo, .fallback-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.single-photo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Petfinder button */
.petfinder-button a:hover {
  text-decoration: underline;
}

.petfinder-button {
  text-align: center;
  margin-top: 20px;
}

.petfinder-button a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff5a5f;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.petfinder-button a:hover {
  background-color: #ff3338;
}

.petfinder-button a span {
  transition: transform 0.3s ease;
}

.petfinder-button a:hover span {
  transform: scale(1.05);
}

/* Favorite heart */
.favorite-heart {
  position: absolute; 
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  color: #ff0000;
  z-index: 1;
}