.pet-details-container {
  display: flex;
  margin: 40px;
}

.pet-details {
  background-color: #ffffff;
  padding: 10% 4%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 20px 0; /* Adjust the margin to provide space on the right */
  max-width: 900px;
  position: relative;
  width: 70%;
  /* border: solid blue 4px */
}

.side-panel {
  width: 30%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 30%;
  margin: 20vh 0; /* Adjust the margin to center vertically */
  background-color: #0db9ad;
  color: white;
}

/* Name and ID container */
.name-id-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.pet-name {
  margin: 0;
}

/* Pet information section */
.pet-info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
}

.pet-info-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 0 10px 10px 0; /* Added margin to separate sections */
}

.pet-info-section p {
  margin: 5px 0;
  font-size: 16px;
}

/* Contact information section */
.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  font-size: 20px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  margin: 5px 0;
}

/* Photos section */
.photos {
  margin-top: 20px;
}

.photos h3 {
  font-size: 20px;
  color: #333;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.pet-photo, .fallback-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.single-photo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


.petfinder-button {
  text-align: center;
  margin-top: 20px;
}

.petfinder-button a {
  display: inline-block;
  padding: 15px 30px;
  background-color:  #fb061e;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.petfinder-button :hover {
  transform: scale(1.05);
}

/* Favorite heart */
.favorite-heart-details-unfavorited,
.favorite-heart-details-favorited {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(242, 241, 241);
  font-size: 24px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 4%;
  right: 5px;
  transform: translate(-50%, -50%); /* Center the heart icon */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(247, 176, 176, 0.485);
}
.favorite-heart-details-unfavorited:hover,
.favorite-heart-details-favorited:hover {
  background-color: #ffffff; 
  box-shadow: 0 0 10px 5px rgba(248, 168, 168, 0.861);
}
.favorite-heart-details-favorited {
  color: #ea1328; 
}
.shareBtn {
  position: absolute;
  bottom: 1%;
  right: 1%;
  margin: 10px;
}
/* Styles for screens up to 600px */
@media (max-width: 600px) {
  .pet-details-container {
    display: flex;
    flex-direction: column; /* Change to column for vertical layout */
    /* border: red solid 4px; */
    margin: 4% auto;
  }

  .pet-details {
    max-width: 100%; 
    min-width: 270px;/* Full width for the details on smaller screens */
    margin-bottom: 20px; /* Optional: Add spacing between details and side-panel */
    /* border: red solid 4px; */
    margin: auto;
  }
  /* Name and ID container */
  .name-id-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px 0;
    /* border: red solid 4px; */
    width: 100%;
  }

  .side-panel {
    width: 95%; /* Full width for the side panel on smaller screens */
    margin: 8% auto;
  }
}


@media (min-width: 601px) and (max-width: 1023px) {
  .pet-details-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .pet-details {
    width: 100%; 
  }

  .side-panel {
    width: 70%; 
  }

}

/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px){
  .pet-details-container {
    justify-content: space-between; 
  }

  .pet-details {
    width: 60%; 
  }

  .side-panel {
    width: 35%; 
  }

}