/* PetFoster.css */

.pet-foster {
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--greyish-hue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.pet-foster >p {
  text-align: center;
}

h1, h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center; 
}

.foster-list {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foster-list  > li {
  flex-basis: calc(50% - 30px);
  margin-bottom: 30px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.foster-list > li:hover {
  background-color: var(--vibrant-red);
  transform: scale(1.02);
}
