/* Default styles */
.pet-foster {
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--greyish-hue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height:65vh;
}

.pet-foster > p {
  text-align: center;
}

h1, h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.foster-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foster-list > li {
  flex-basis: calc(50% - 30px);
  margin-bottom: 30px;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.foster-list > li:hover {
  background-color: rgba(255, 0, 0, 0.277);
  transform: scale(1.02);
}

/* Responsive styles for small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .pet-foster {
    margin: 2%;
    padding: 8%;
  }

  .foster-list h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .foster-list > li {
    min-width: 95%;
    padding: 7%;
  }
}
