/* .post-reply-content{
    border: rgb(9, 202, 19) 5px solid;
    height: 75%;
    width: 90%;
    margin: 0 auto;
    height: 10%;
} */
.post-input-container{
    display: flex;
    /* border: rgb(255, 35, 11) 5px solid; */
    height: 85%;
    width: 100%;
}
.post-button{
    /* border: rgb(242, 212, 20) 5px solid; */
    height: 65px;
    margin: 1.5%
}