.profile-section{
  text-align: center;
  min-height:65vh;
}

.profile-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 5%;
  background-color: var(--greyish-hue);
}

.profile-title {
  color: var(--vibrant-red);
  font-size: 24px;
}

.profile-info {
  margin-top: 20px;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-label {
  margin: 30px 0;
}

