.reply-container {
    min-height: 100vh;
  }
  
  .reply-container h3 {
    padding: 0 2%;
  }
  
  .reply-container-inside-div-one {
    width: 80vw;
    margin: -5px auto;
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    /* border: red solid 4px; */
  }
  
  .reply-container-inside-div-two {
    width: 80vw;
    margin: 0% auto;
    min-height: 25%;
  }
  .no-replies-message {
    text-align: center;
    margin: 20px 0;
  }

  .scrollable-container.reply-container-inside-div-one {
    position: relative;
    padding-bottom: 30px; 
    /* border: red solid 4px; */
  }
  .new-post-arrow {
    position: absolute;
    top: 90%;
    right: 10px;
    transition: opacity 0.5s;
    height: 10%;
    width: 10%;
    cursor: pointer;
    color: red;
  }
  