.reply-container {
    /* border: 5px solid #f4bb01; */
    min-height: 100vh;
  }
  
  .reply-container h3 {
    padding: 0 2%;
  }
  
  .reply-container-inside-div-one {
    /* border: 5px solid #ff0e0e; */
    width: 80vw;
    margin: -5px auto;
    max-height: 100%;
    overflow-y: visible;
  }
  
  .reply-container-inside-div-two {
    width: 80vw;
    margin: 0% auto;
    min-height: 25%;
  }
  