
.resources-info-section {
  display: block;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto; 
}


.resources-info-card {
  flex: 1;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 2px 14px rgba(0, 0, 0, 0.262);
  text-align: center;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.resources-info-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.resources-info-card p {
  margin: 0 0 15px;
  font-size: 16px;
  color: #1e1e1e;
}

.learn-more-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ff0800;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.learn-more-link:hover {
  background-color: black;
}
