.resources-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-decoration: none;
  background-color: white;
}

.resource {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resource-left {
  /* flex-direction: row-reverse; Reverse the order for left-aligned images */
}

.resource-right {
  flex-direction: row; /* Maintain the order for right-aligned images */
}

.resource-div h3 {
  font-size: 25px;
  color: #333;
  margin-left: 20px;
}

.resource p {
  font-size: 16px;
  color: #000000;
  margin-left: 20px;
}

.resource-image {
  max-width: 200px; 
  height: auto;
  margin: 20px;
  border-radius: 5px;
}

.resource:hover {
  transform: scale(1.02);
}

.resource h3 {
  font-size: 24px;
  color: #e04801;
  text-decoration: none !important;
}