h1 {
  margin: 2% auto;
}

.resources-container {
  margin: 2% auto;
  width: 90%;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  min-height:60vh;
}

.resource {
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Apply text-decoration directly to the anchor tag */
  color: #333; /* Add color to the text */
  width: 90%;
}

.resource:hover {
  transform: scale(1.02);
}

.resource h3 {
  font-size: 25px;
  color: #e04801;
  margin-top: 20px; /* Adjust margin to create space */
}

.resource p {
  font-size: 16px;
  color: #090909;
  margin-top: 10px; /* Adjust margin to create space */
}

.resource-image {
  max-width: 300px; 
  height: auto;
  margin: 20px;
  border-radius: 5px;
}

/* Responsive styles for small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  h1 {
    font-size: 24px; /* Adjust font size for small screens */
  }

  .resources-container {
    grid-template-columns: 1fr; /* Display one column on small screens */
    gap: 20px; /* Reduce gap for small screens */
  }

  .resource {
    width: 100%; /* Full width for small screens */
  }

  .resource h3 {
    font-size: 20px; /* Adjust font size for small screens */
  }

  .resource p {
    font-size: 14px; /* Adjust font size for small screens */
  }

  .resource-image {
    max-width: 100%; /* Full width for small screens */
    margin: 10px 0; /* Adjust margin for small screens */
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  h1 {
    font-size: 28px; /* Adjust font size for medium screens */
  }

  .resources-container {
    grid-template-columns: repeat(2, 1fr); /* Display two columns on medium screens */
    gap: 40px; /* Set gap for medium screens */
    /* border: red solid 5px; */
  }

  .resource {
    width: 100%; /* Full width for medium screens */
  }

  .resource h3 {
    font-size: 24px; /* Adjust font size for medium screens */
  }

  .resource p {
    font-size: 16px; /* Adjust font size for medium screens */
  }

  .resource-image {
    max-width: 100%; /* Full width for medium screens */
    margin: 20px 0; /* Adjust margin for medium screens */
  }
}
