/* SearchBar.css */

.search-bar {
  background-color: var(--primary-blue);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(204, 205, 205, 0.786);
  padding: 4%;
  display: flex;
  width: 45%;
}

.search-input,
.search-select,
.search-button {
  margin-top: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}

.search-select {
  flex: 1; /* Use flex-grow to distribute remaining space */
  padding-left: 5px;
  padding-right: 5px;
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-top: none;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}

/* Responsive styles for small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .search-bar {
    padding: 2%;
    min-width: 95%;
    margin: 3%;
  }

  .search-input,
  .search-select,
  .search-button {
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
  }

  .search-select {
    width: 100%;
    margin-top: 10px;
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .search-bar {
    padding: 3%;
    min-width: 75%;
    margin: 3%;
  }

  .search-input,
  .search-select,
  .search-button {
    margin-top: 15px;
    font-size: 16px;
    height: 45px;
  }

  .search-select {
    width: calc(50% - 10px);
  }
}
/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  .search-bar {
    /* border: red solid 4px; */
    padding: 2%;
    width: 45%;
    margin: auto; /* Center the search bar within its container */
  }

  .search-input,
  .search-select,
  .search-button {
    margin-top: 20px;
    font-size: 18px;
    height: 50px;
  }

  .search-select {
    flex: 1; /* Use flex-grow to distribute remaining space */
    margin-top: 20px;
    /* border: rgb(13, 0, 255) solid 4px; */
  }
}
