/* SearchBar.css */

.search-bar {
  background-color: var(--primary-blue);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(204, 205, 205, 0.786);
  padding: 4%;
}

.search-input-container {
  flex-grow: 1;
  margin-right: 10px;
  display: flex;
}

.search-input,
.search-select,
.search-button {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  height: 50px;
}

.search-select {
  width: calc(50% - 10px);
  padding-left: 5px; 
  padding-right: 5px; 
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-top: none;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}



/* 
.search-button:hover {
  background-color: #45a049;
}

.search-button-disabled,
.search-button-disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
} */