/* SearchBar.css */

.search-bar {
  background-color: var(--primary-blue);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(204, 205, 205, 0.786);
  padding: 4%;
  display: flex;
  width: 45%;
}

.search-input,
.search-select,
.search-button {
  margin-top: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}

.search-select {
  flex: 1; /* Use flex-grow to distribute remaining space */
  padding-left: 5px;
  padding-right: 5px;
}

.search-button-disabled{
  background-color: rgb(200, 142, 142);
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  border-top: none;
  z-index: 1000;
  max-width: 25%;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #ffc4c4a5;
  }
}

/* Responsive styles for small screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .search-bar {
    padding: 2%;
    min-width: 95%;
    margin: 3%;
  }

  .search-input,
  .search-select,
  .search-button {
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
  }

  .search-select {
    width: 100%;
    margin-top: 10px;
    min-width:40%;
  }
  .match-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .matched-pet-card {
    padding: 3% 1%;
    min-width: 90%;
    margin: auto;
    border: rgb(64, 0, 128) solid 5px;
  }
  .fetch-new-pet {
    background-color: rgba(58, 118, 237, 0.148);
    color: black;
  }
  .location-button {
    max-height: 50px;
    font-size: 7px;
    justify-content: center;
    background-color: rgb(199, 232, 234);
    color: black;
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .search-bar {
    padding: 3%;
    min-width: 75%;
    margin: 3%;
  }

  .search-input,
  .search-select,
  .search-button {
    margin-top: 15px;
    font-size: 16px;
    height: 45px;
  }

  .search-select {
    width: calc(50% - 10px);
  }
  .match-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .matched-pet-card {
    padding: 3% 1%;
    min-width: 100%;
    margin: auto;
    border: rgb(117, 0, 235) solid 5px;
  }
  .fetch-new-pet {
    background-color: rgba(58, 118, 237, 0.148);
    color: black;
  }
}
/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  .search-bar {
    padding: 2%;
    width: 45%;
    margin: auto; /* Center the search bar within its container */
  }

  .search-input,
  .search-select,
  .search-button {
    margin-top: 20px;
    font-size: 18px;
    height: 50px;
  }

  .search-select {
    flex: 1; /* flex-grow to distribute remaining space */
    margin-top: 20px;
  }
  .match-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .fetch-new-pet {
    background-color: rgba(58, 118, 237, 0.148);
    color: black;
  }
}
