
.container {
  max-width: 90%;
  margin: 2% auto;
  padding: 20px;
  max-height: 80vh;
  background-color: #6495ED;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.158);
  color: white;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.form-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-option {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select,
input[type='range'] {
  width: 70%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease;
}

.selected-preferences p {
  color: white;
}

/* Responsive styles for smaller screens (e.g., phones) */
@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  select,
  input[type='range'] {
    width: 100%; /* Full width for phones */
  }

  .selected-preferences p {
    font-size: 14px;
  }

  .form-option {
    margin-right: 0;
  }
}

/* Responsive styles for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  select,
  input[type='range'] {
    width: calc(50% - 5px); /* Adjusted width for tablets */
  }
  .container {
    border: rgb(0, 38, 255) solid 5px;
    max-width:70%
  }
}

/* Responsive styles for larger screens (e.g., desktops) */
@media (min-width: 1024px) and (max-width: 1500px) {
  select,
  input[type='range'] {
    width: calc(70% - 5px); /* Adjusted width for desktops */
  }
}