
.container {
  max-width: 80%;
  margin: 2% auto;
  padding: 20px;
  max-height: 70vh;
  background-color: #6495ED;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.158);
  color: white;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.form-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-option {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select,
input[type='range'] {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease;
}

select:focus,
input[type='range']:focus {
  border-color: #db4d34;
}
.selected-preferences p {
  color: white;
}

/* Adjusted width for smaller screens */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .container h2 {
    font-size: 24px;
  }

  select,
  input[type='range'] {
    width: calc(50% - 5px); /* Adjusted width for smaller screens */
  }

  .selected-preferences p {
    font-size: 14px;
  }

  .form-option {
    margin-right: 0;
  }

  .temperament-options label {
    flex-basis: 100%;
  }
}

/* Updated width for age range slider */
input[type='range'] {
  width: 50%; /* Adjusted width for the age range slider */
}

.temperament-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.temperament-options label {
  flex-basis: 48%;
}

.selected-preferences {
  margin-top: 20px;
}

.message {
  color: white;
  margin-bottom: 15px;
}

.find-match-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #db4d34;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.find-match-button:hover {
  background-color: #8b1e10;
}
.age-characteristics-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.age-characteristics-container div {
  flex: 1;
  margin-right: 10px;
}